<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="/assets/"
    data-template="vertical-menu-template-free">

<head>
    <%- include('Utils/head') %>
</head>

<style>
    table.dataTable.hover tbody tr:hover,
    table.dataTable.display tbody tr:hover {
        background-color: rgba(0, 85, 140, 0.1);
    }
</style>

<body>
    <main>
        <div class="layout-wrapper layout-content-navbar">
            <div class="layout-container">
                <!-- Menú lateral -->
                <%- include('Utils/sidebar') %>
                    <!-- Menú lateral -->
                    <!-- Content -->
                    <div class="layout-page">
                        <div class="content-wrapper">
                            <div class="container-fluid flex-grow-1 container-p-y">
                                <%- include('Utils/tittle') %>
                                    <hr class="my-5" />
                                    <!-- <div class="card"> -->
                                    <!-- Contenido de la página -->
                                    <%- include(Page) %>
                                        <!-- / Contenido de la página -->
                                        <!-- </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- Content -->
            </div>
        </div>
    </main>
    <footer style="background-color: #F07D1A;">
        <script async defer>
            window.__env = {
                UrlApi: '<%= UrlApi %>'
            };
        </script>
        <!-- Menú inferior -->
        <%- include('Utils/footer') %>
            <%- include('Utils/toast') %>
                <script async defer src="../js/utils.js"></script>
                <script async defer src="<%= ServiceFile %>"></script>
                <script async defer src="<%= JSFile %>"></script>
    </footer>
</body>

</html>